#container {
  background-color: #ffffff;
  width: 50%;
  margin: 50px auto;
  padding: 3rem 2rem 1rem;
  flex-direction: column;
  -webkit-box-shadow: rgba(147, 145, 145, 0.4) 10px 10px 15px 3px,
    rgba(117, 115, 115, 0.4) 10px 4px 6px -10px;
  box-shadow: rgba(147, 145, 145, 0.4) 10px 10px 15px 3px,
    rgba(117, 115, 115, 0.4) 10px 4px 6px -10px;

  @media (max-width: 767px) {
    & {
      width: 90%;
    }
  }
  h1 {
    padding-bottom: 1.5rem;
    text-align: center;
  }

  //   form----------
  form {
    input,
    textarea {
      width: 100%;
      margin: 0.5rem 0 1.5rem;
      padding: 0.7rem;
      resize: none;
    }
    .btn {
      margin: auto;
    }
    .name_field,
    .contact_field {
      width: 100%;
      input {
        width: 49%;
        @media (max-width: 767px) {
          & {
            width: 100%;
          }
        }
      }
    }

    input::placeholder,
    textarea::placeholder {
      font-size: 1em;
      color: $dark_blue;
      opacity: 0.7;
    }

    input:focus,
    textarea:focus {
      outline: none !important;
      border-color: $primary_color;
      box-shadow: 0 0 10px $primary_color;
    }
  }
}

@media (max-width: 1000px) {
  #about.contact {
    img {
      display: none;
    }
  }
}
